body{
   background-image: url("https://i.pinimg.com/originals/19/ee/1f/19ee1f3a97b97c064b023aba16cd9068.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
ul{
  list-style-type: none;
}
