a {
  font-size: 30px;
  color: hotpink;
  background-color:pink;
  
}
ul{
  list-style-type: none;
}
h1{
    color: hotpink;
}
h2{
    color: hotpink;}
h3{
    color: hotpink;}
h4{
    color: hotpink;}
p{
    text-align:center;
    padding: 10px;
  margin-left: 10%;
    color: hotpink; 
    border: 2px solid hotpink;
        text-align: center;
    margin: 0px auto;
    width: 1000px;
}

.rat{
   display:flex;
   background-color: lightpink;
}
.beat{
  text-align: center;
    margin: 0px auto;
    width: 1000px;}
.ren{
    font-size: 20px;
background-color: pink;}
.welcome{
font-size: 25px;
 border: 2px solid hotpink;
        text-align: center;
    margin: 0px auto;
    width: 1000px;}
.project{
    font-size: 30px;
}
.labs{
text-align:right;
    font-size: 30px;
}
.poo{
    text-align:right;
   margin-right: 100px;
   top: 200px;
    font-size: 30px;
}

.lut{
    height: 200px;
width:300px;
    border: solid 4px;
    font-size: 30px;
}


.labs{
      position: relative;
    left: 80%;
    top: -970%;
}
.labs2{
      position:relative;
    left: -414px;
    top: -1809px;
}
body {
  background-image: url('https://i.seadn.io/gae/9qxVj3uPGKalBe-59TQsKnOqupGIBVFOZVd73N4PkrAXyD3_-q3V59UtMQaaR2GPtiLf0z2oELPuWUE3kxAJIi4cQYrc2W8utxAG?auto=format&dpr=1&w=3840');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.hi{
  display:none;
}
